<?xml version="1.0"?>
<config>
    <global>
        <models>
            <ApiExtend>
                <class>Drupal_ApiExtend_Model</class>
                <resourceModel>ApiExtend_Mysql4</resourceModel>
            </ApiExtend>
			
            <ApiExtend_Mysql4>
                <class>Drupal_ApiExtend_Model_Mysql4</class>
                <entities>
                    <rule>
                        <table>catalogrule</table>
                    </rule>
                </entities>
            </ApiExtend_Mysql4>
        </models>
        <resources>
            <ApiExtend_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </ApiExtend_read>
        </resources>
        <helpers>
            <ApiExtend>
                <class>Drupal_ApiExtend_Helper</class>
            </ApiExtend>
        </helpers>
    </global>
	
    <default>
        <extended_api>
            <config>
                <enabled>1</enabled>
                <template>extended_api_config_template</template>
                <identity>extended_api</identity>
            </config>
        </extended_api>
    </default>
    
    <adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <extended_api translate="title" module="api">
                                            <title>Magento Extended API</title>
                                        </extended_api>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    	
        <events>
            <catalog_category_delete_after>
                <observers>
                    <ApiExtend>
                        <type>singleton</type>
                        <class>ApiExtend/observer</class>
                        <method>catalogCategoryDeleteAfter</method>
                    </ApiExtend>
                </observers>
            </catalog_category_delete_after>
            <catalog_category_save_after>
                <observers>
                    <ApiExtend>
                        <type>singleton</type>
                        <class>ApiExtend/observer</class>
                        <method>catalogCategorySaveAfter</method>
                    </ApiExtend>
                </observers>
            </catalog_category_save_after>
            <catalog_product_save_after>
                <observers>
                    <ApiExtend>
                        <type>singleton</type>
                        <class>ApiExtend/observer</class>
                        <method>catalogProductSaveAfter</method>
                    </ApiExtend>
                </observers>
            </catalog_product_save_after>
            <catalog_product_delete_after>
                <observers>
                    <ApiExtend>
                        <type>singleton</type>
                        <class>ApiExtend/observer</class>
                        <method>catalogProductDeleteAfter</method>
                    </ApiExtend>
                </observers>
            </catalog_product_delete_after>
            <catalog_product_status_update>
                <observers>
                    <ApiExtend>
                        <type>singleton</type>
                        <class>ApiExtend/observer</class>
                        <method>productStatusUpdate</method>
                    </ApiExtend>
                </observers>
            </catalog_product_status_update>
            <catalogrule_after_apply>
                <observers>
                    <ApiExtend>
                        <type>singleton</type>
                        <class>ApiExtend/observer</class>
                        <method>catalogRuleApplyAfter</method>
                    </ApiExtend>
                </observers>
            </catalogrule_after_apply>
        </events>
    </adminhtml>
</config>
